# visual studio
bin/
obj/
TestResults/
Debug/
Release/
packages/
publish/
*.suo
*.user
*.vsmdi
*.ncb
*.sln.cache
*.sln.ide
.vs/
# resharper
_resharper.*/
*.dotCover

# Резервная копия настроек Git Extensions (автоматически создаётся при изменении настроек)
GitExtensions.settings.backup