<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net47" />
  <package id="Easy.MessageHub" version="3.4.0" targetFramework="net47" />
  <package id="ExifLib" version="1.7.0.0" targetFramework="net47" />
  <package id="Fody" version="3.1.4" targetFramework="net47" developmentDependency="true" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net47" />
  <package id="PropertyChanged.Fody" version="2.5.9" targetFramework="net47" />
  <package id="Scar.Common" version="1.0.6811.31514" targetFramework="net47" />
  <package id="Scar.Common.Async" version="1.0.6719.22381" targetFramework="net47" />
  <package id="Scar.Common.Drawing.ExifTool" version="1.0.6811.30990" targetFramework="net47" />
  <package id="Scar.Common.Drawing.ImageRetriever" version="1.0.6811.31298" targetFramework="net47" />
  <package id="Scar.Common.Drawing.Metadata" version="1.0.6811.29268" targetFramework="net47" />
  <package id="Scar.Common.Drawing.MetadataExtractor" version="1.0.6811.31144" targetFramework="net47" />
  <package id="Scar.Common.IO" version="1.0.6662.42670" targetFramework="net47" />
  <package id="Scar.Common.Processes" version="1.0.6786.21037" targetFramework="net47" />
  <package id="Scar.Common.RateLimiter" version="1.0.6789.21362" targetFramework="net47" />
  <package id="Scar.Common.WPF.Commands" version="1.0.6753.27805" targetFramework="net47" />
  <package id="Scar.Common.WPF.View" version="1.0.6812.21943" targetFramework="net47" />
  <package id="Scar.Common.WPF.View.Contracts" version="1.0.6719.21680" targetFramework="net47" />
  <package id="Scar.Common.WPF.View.WindowFactory" version="1.0.6812.20901" targetFramework="net47" />
  <package id="Scar.Common.WPF.ViewModel" version="1.0.6719.21806" targetFramework="net47" />
</packages>